/* Variables to be used as default styles*/
:root {
  --background-color: #1f393f;
  --font-color: #fefefe;
  --secondary-color: #2594a8;
  font-size: 16px;
}

body {
  margin: 0;
}

.container, .branding, .form-container {
  display: flex;
}

.container {
  width: 100vw;
  height: 100vh;
}

.branding, .form-container {
  flex-direction: column;
}

.branding {
  width: clamp(150px, 35%, 500px);
  background-image: url("../assets/trip.jpg");
  background-repeat: no-repeat;
  background-size: 130% 100%;
  background-position: -30px 0px;
  height: 100vh;
  justify-content: flex-end;
  align-items: center;
}

h5, .attr {
  font-weight: 400;
  font-size: 0.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-color);
}


.form-container {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: var(--font-color);
  background-color: var(--background-color);
  justify-content: center;
}

.form-container > div {
  background-color: var(--background-color);
  padding: 42px;
  padding-bottom: 0;
}

div.content {
  padding-top: 60px;
}

div.footer {
  padding-top: 50px;
}

h3 {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 0;
}

fieldset {
  padding: 20px;
  padding-right: 0;
  border-color: var(--font-color);
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info {
  display: flex;
  width: clamp(260px, 50%, 440px);
  padding-bottom: 10px;
}

input {
  margin-left: auto;
  margin-right: 20px;
  width: clamp(100px, 55%, 250px);
  border: 2px solid var(--font-color);
}

label {
  font-size: 1.05rem;
}

button {
  border: inherit;
  font-family: inherit;

  background-color: var(--secondary-color);
  padding: 10px 30px;
  border: solid 3px var(--secondary-color);
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--font-color);
}

button:hover {
  border: double 3px var(--font-color)
}

button:active {
  background-color: #1f7c8c;
  border: double 3px var(--font-color)
}

h6 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 0.75rem;
}

.emphasis {
  font-weight: 500;
  color: #7fc5d4;
  text-decoration: none;
}

/* For smaller screen sizes but on desktop */
@media (hover: hover) and (max-width: 960px) {
  .branding {
    background-size: 200% 100%;
    background-position: -70px 0px;
  }
  
  h3 {
    font-size: 2rem;
  }

  .form-container > div {
    padding: 36px;
    padding-bottom: 0;
  }

  div.content {
    padding-top: 48px;
  }

  div.footer {
    padding-top: 42px
  }
}

@media (hover: hover) and (max-width: 516px) {
  .branding {
    display: none;
  }
}

/* For smaller screen sizes but on mobile */
@media (hover: none) {
  .branding {
    display: none;
  }
}